{% extends "video/base.html" %}
{% block content %}
<h1>B站视频信息</h1>
<p><font size="4" color="red">使用细则：1. 点击av号可直接跳转b站观看该视频， 点击up主ID可直接跳转up主空间查看其它视频</font></p>
<p><font size="4" color="red" style="margin-left:5em;">2. 请点击表头进行排序， 点击AV号则是以发布时间倒叙</font></p>
<p><font size="4" color="red">点击右方链接查看可视化数据:</font><a href='https://public.tableau.com/profile/1023mmq#!/vizhome/b_21/b?publish=yes'> 可视化数据链接</a></p>
<style>
    table {
        border-spacing: 0;
        width: 240%;
        border: 1px solid #ddd;
    }
    
    th {
        cursor: pointer;
    }
    
    th, td {
        text-align: center;
        border:1px solid #e3e3e3;
        padding: 5px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    table tr:nth-child(odd) {
        background-color: #fff;
    }

    table th {
        background-color: #3a6070;
        color: white;
    }
</style>

    <!--
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">AV号: {{ post.aid }}</a>
                <small class="text-muted">上传用户名: {{ post.upName }}, 上传用户ID: {{ post.upID }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.aid }}</a></h2>
            <p class="article-content">播放量: {{ post.guankan_new }}, 点赞数: {{ post.like_new }}, 收藏数: {{ post.shoucang_new }}, 投币数: {{ post.coin_new }}, 评论数: {{ post.commentNumber_new }}, 弹幕数: {{ post.danmu_new }}, 分享数: {{ post.share_new }}, 当前排名: {{ post.nowRank_new }}, 历史排名: {{ post.hisRank }}</p>
            <p class="article-content">播放量变化: {{ post.guankan_change }}, 点赞数变化: {{ post.like_change }}, 收藏数变化: {{ post.shoucang_change }}, 投币数变化: {{ post.coin_change }}, 评论数变化: {{ post.commentNumbe_change }}, 弹幕数变化: {{ post.danmu_change }}, 分享数变化: {{ post.share_change }}, 当前排名变化: {{ post.nowRank_change }}</p>
            <small class="text-muted">截止时间: {{ post.data_posted|date:"r" }}</small>
        </div>
    </article>
    -->
    <!--<table id="t01">-->
    <table id="myTable">
        <thead>
            <tr>
              <th onclick="sortTable(0)"><font size="2">AV号</font></th>
              <th onclick="sortTable(1)"><font size="2">标题</font></th>
              <th onclick="sortTable(2)"><font size="2">分区号</font></th>
              <th onclick="sortTable(3)"><font size="2">分区名</font></th>
              <th onclick="sortTable(4)"><font size="2">上传日期</font></th>
              <th onclick="sortTable(5)"><font size="2">时长(秒)</font></th>
              <th onclick="sortTable(6)"><font size="2">综合评分</font></th>
              <th onclick="sortTable(7)"><font size="2">一小时综合评分变化</font></th>
              <th onclick="sortTable(8)"><font size="2">四小时综合评分变化</font></th>
              <th onclick="sortTable(9)"><font size="2">一天综合评分变化</font></th>
              <th onclick="sortTable(10)"><font size="2">up主名</font></th> 
              <th onclick="sortTable(11)"><font size="2">up主ID</font></th>
              <th onclick="sortTable(12)"><font size="2">播放量</font></th>
              <th onclick="sortTable(13)"><font size="2">一小时播放量变化</font></th>
              <th onclick="sortTable(14)"><font size="2">四小时播放量变化</font></th>
              <th onclick="sortTable(15)"><font size="2">一天播放量变化</font></th>
              <th onclick="sortTable(16)"><font size="2">点赞数</font></th>
              <th onclick="sortTable(17)"><font size="2">一小时点赞变化</font></th>
              <th onclick="sortTable(18)"><font size="2">四小时点赞变化</font></th>
              <th onclick="sortTable(19)"><font size="2">一天点赞变化</font></th>
              <th onclick="sortTable(20)"><font size="2">收藏数</font></th>
              <th onclick="sortTable(21)"><font size="2">一小时收藏变化</font></th>
              <th onclick="sortTable(22)"><font size="2">四小时收藏变化</font></th>
              <th onclick="sortTable(23)"><font size="2">一天收藏变化</font></th>
              <th onclick="sortTable(24)"><font size="2">投币数</font></th>
              <th onclick="sortTable(25)"><font size="2">一小时投币变化</font></th>
              <th onclick="sortTable(26)"><font size="2">四小时投币变化</font></th>
              <th onclick="sortTable(27)"><font size="2">一天投币变化</font></th>
              <th onclick="sortTable(28)"><font size="2">评论数</font></th>
              <th onclick="sortTable(29)"><font size="2">一小时评论变化</font></th>
              <th onclick="sortTable(30)"><font size="2">四小时评论变化</font></th>
              <th onclick="sortTable(31)"><font size="2">一天评论变化</font></th>
              <th onclick="sortTable(32)"><font size="2">弹幕数</font></th>
              <th onclick="sortTable(33)"><font size="2">一小时弹幕变化</font></th>
              <th onclick="sortTable(34)"><font size="2">四小时弹幕变化</font></th>
              <th onclick="sortTable(35)"><font size="2">一天弹幕变化</font></th>
              <th onclick="sortTable(36)"><font size="2">分享数</font></th>
              <th onclick="sortTable(37)"><font size="2">一小时分享变化</font></th>
              <th onclick="sortTable(38)"><font size="2">四小时分享变化</font></th>
              <th onclick="sortTable(39)"><font size="2">一天分享变化</font></th>
              <th onclick="sortTable(40)"><font size="2">当前排名</font></th>
              <th onclick="sortTable(41)"><font size="2">一小时当前排名变化</font></th>
              <th onclick="sortTable(42)"><font size="2">四小时当前排名变化</font></th>
              <th onclick="sortTable(43)"><font size="2">一天当前排名变化</font></th>
              <th onclick="sortTable(44)"><font size="2">历史排名</font></th>
              <th onclick="sortTable(45)"><font size="2">更新时间</font></th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
              <td><a href ='https://www.bilibili.com/video/av{{ post.aid }}/'>{{ post.aid }}</a></td> 
              <td>{{ post.title }}</td> 
              <td>{{ post.tid }}</td> 
              <td>{{ post.tname }}</td> 
              <td>{{ post.date }}</td> 
              <td>{{ post.duration }}</td>
              <td>{{ post.score }}</td>
              <td>{{ post.change_score }}</td>
              <td>{{ post.change_score_4hr }}</td>
              <td>{{ post.change_score_24hr }}</td>
              <td>{{ post.upName }}</td>
              <td><a href ='https://space.bilibili.com/{{ post.upID }}/'>{{ post.upID }}</a></td>
              <td>{{ post.latest_guankan }}</td>
              <td>{{ post.change_guankan }}</td>
              <td>{{ post.change_guankan_4hr }}</td>
              <td>{{ post.change_guankan_24hr }}</td>
              <td>{{ post.latest_like }}</td>
              <td>{{ post.change_like }}</td>
              <td>{{ post.change_like_4hr }}</td>
              <td>{{ post.change_like_24hr }}</td>
              <td>{{ post.latest_shoucang }}</td>
              <td>{{ post.change_shoucang }}</td>
              <td>{{ post.change_shoucang_4hr }}</td>
              <td>{{ post.change_shoucang_24hr }}</td>
              <td>{{ post.latest_coin }}</td>
              <td>{{ post.change_coin }}</td>
              <td>{{ post.change_coin_4hr }}</td>
              <td>{{ post.change_coin_24hr }}</td>
              <td>{{ post.latest_share }}</td>
              <td>{{ post.change_share }}</td>
              <td>{{ post.change_share_4hr }}</td>
              <td>{{ post.change_share_24hr }}</td>
              <td>{{ post.latest_commentNumber }}</td>
              <td>{{ post.change_commentNumber }}</td>
              <td>{{ post.change_commentNumber_4hr }}</td>
              <td>{{ post.change_commentNumber_24hr }}</td>
              <td>{{ post.latest_danmu }}</td>
              <td>{{ post.change_danmu }}</td>
              <td>{{ post.change_danmu_4hr }}</td>
              <td>{{ post.change_danmu_24hr }}</td>
              <td>{{ post.latest_nowRank }}</td>
              <td>{{ post.change_nowRank }}</td>
              <td>{{ post.change_nowRank_4hr }}</td>
              <td>{{ post.change_nowRank_24hr }}</td>
              <td>{{ post.latest_hisRank }}</td>
              <td>{{ post.data_posted|date:"r" }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th onclick="sortTable(0)"><font size="2">AV号</font></th>
                <th onclick="sortTable(1)"><font size="2">标题</font></th>
                <th onclick="sortTable(2)"><font size="2">分区号</font></th>
                <th onclick="sortTable(3)"><font size="2">分区名</font></th>
                <th onclick="sortTable(4)"><font size="2">上传日期</font></th>
                <th onclick="sortTable(5)"><font size="2">时长(秒)</font></th>
                <th onclick="sortTable(6)"><font size="2">综合评分</font></th>
                <th onclick="sortTable(7)"><font size="2">一小时综合评分变化</font></th>
                <th onclick="sortTable(8)"><font size="2">四小时综合评分变化</font></th>
                <th onclick="sortTable(9)"><font size="2">一天综合评分变化</font></th>
                <th onclick="sortTable(10)"><font size="2">up主名</font></th> 
                <th onclick="sortTable(11)"><font size="2">up主ID</font></th>
                <th onclick="sortTable(12)"><font size="2">播放量</font></th>
                <th onclick="sortTable(13)"><font size="2">一小时播放量变化</font></th>
                <th onclick="sortTable(14)"><font size="2">四小时播放量变化</font></th>
                <th onclick="sortTable(15)"><font size="2">一天播放量变化</font></th>
                <th onclick="sortTable(16)"><font size="2">点赞数</font></th>
                <th onclick="sortTable(17)"><font size="2">一小时点赞变化</font></th>
                <th onclick="sortTable(18)"><font size="2">四小时点赞变化</font></th>
                <th onclick="sortTable(19)"><font size="2">一天点赞变化</font></th>
                <th onclick="sortTable(20)"><font size="2">收藏数</font></th>
                <th onclick="sortTable(21)"><font size="2">一小时收藏变化</font></th>
                <th onclick="sortTable(22)"><font size="2">四小时收藏变化</font></th>
                <th onclick="sortTable(23)"><font size="2">一天收藏变化</font></th>
                <th onclick="sortTable(24)"><font size="2">投币数</font></th>
                <th onclick="sortTable(25)"><font size="2">一小时投币变化</font></th>
                <th onclick="sortTable(26)"><font size="2">四小时投币变化</font></th>
                <th onclick="sortTable(27)"><font size="2">一天投币变化</font></th>
                <th onclick="sortTable(28)"><font size="2">评论数</font></th>
                <th onclick="sortTable(29)"><font size="2">一小时评论变化</font></th>
                <th onclick="sortTable(30)"><font size="2">四小时评论变化</font></th>
                <th onclick="sortTable(31)"><font size="2">一天评论变化</font></th>
                <th onclick="sortTable(32)"><font size="2">弹幕数</font></th>
                <th onclick="sortTable(33)"><font size="2">一小时弹幕变化</font></th>
                <th onclick="sortTable(34)"><font size="2">四小时弹幕变化</font></th>
                <th onclick="sortTable(35)"><font size="2">一天弹幕变化</font></th>
                <th onclick="sortTable(36)"><font size="2">分享数</font></th>
                <th onclick="sortTable(37)"><font size="2">一小时分享变化</font></th>
                <th onclick="sortTable(38)"><font size="2">四小时分享变化</font></th>
                <th onclick="sortTable(39)"><font size="2">一天分享变化</font></th>
                <th onclick="sortTable(40)"><font size="2">当前排名</font></th>
                <th onclick="sortTable(41)"><font size="2">一小时当前排名变化</font></th>
                <th onclick="sortTable(42)"><font size="2">四小时当前排名变化</font></th>
                <th onclick="sortTable(43)"><font size="2">一天当前排名变化</font></th>
                <th onclick="sortTable(44)"><font size="2">历史排名</font></th>
                <th onclick="sortTable(45)"><font size="2">更新时间</font></th>
            </tr>
        </tfoot>
    </table>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;

        dir = "asc"; 
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;

                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "desc") {
                    if (n == 0 || n == 1 || n == 3 || n == 4 || n == 10){
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch= true;
                            break;
                        }
                    }
                    else{
                        if (parseInt(x.innerHTML) > parseInt(y.innerHTML))  {
                            shouldSwitch= true;
                            break;
                        }
                    }  
                } else if (dir == "asc") {
                        if (n == 0 || n == 1 || n == 3 || n == 4 || n == 10){
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                        else {
                            if (parseInt(x.innerHTML) < parseInt(y.innerHTML))  {
                            shouldSwitch= true;
                            break;
                            }
                        }
                    }
                }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++;      
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

<!-- Bootstrap -->
<script src="js/bootstrap.min.js" type="text/javascript"></script>

<!-- DATA TABES SCRIPT -->
<script src="js/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="js/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
   $(function() {
    $("#table1").dataTable({
        "iDisplayLength": 10,
        "aLengthMenu": [[10, 25, 50, 100,  -1], [10, 25, 50, 100, "All"]]
       });
   });
  </script>
{% endblock content %}